{% extends 'menu.html' %}

{% block content %}
    <main class="container py-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Agenda de Tarefas</h5>
                <p class="card-text">Feita para você que está procurando se organizar durante seu dia-a-dia, criar uma agenda de tarefas e segui-la é a melhor solução!</p>
                <a href="#" class="btn btn-primary">ENTRAR</a>
            </div>
        </div>
    </main> 
    <h1>home testando</h1>
{% endblock %}
